@using AnimalHotel.Models;
<html>
    <head>
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <link href="~/css/style_navigation.css" rel="stylesheet" type="text/css">
     <link href="~/css/style_form.css" rel="stylesheet" type="text/css">
     <link href="~/css/site.css" rel="stylesheet" type="text/css">

    </head>
<body>
    <header>
    <div class="nav">
        <ul class="main_nav">
            <li> <a href="/Admin/Staff">Співробітники</a></li>
            <li>  <a href="/Admin/Room">Кімнати</a></li>
            <li> <a href="/Admin/Report">Звіти</a></li>
            <li class="active"> <a href="/Admin/Service">Послуги</a></li>
            <li> <a href="/Admin/Out">Выйти</a></li>
        </ul>
    </div>
    </header>


    <div>
   <div class="all_form">
            <h2>Форма добавления услуг</h2>
        <form action="/Admin/AddService">
            <ul>
                <li>
                    <label>Название</label>
                </li>
                <li>
                    <input type="text" name="name" />
                </li>
                <li>
                    <label>Животное</label>
                </li>
                <li>
                    @for (int i = 0; i < ViewBag.AnimalType.Count; i++)
                    {
                        <input type="radio" id="animalType_@i" name="animalType" value="@ViewBag.AnimalType[i].id" />
                        <label for="animalType_@i">@ViewBag.AnimalType[i].name</label>
                    }
                </li>
                <li>
                    <label>Цена</label>
                </li>
                <li>
                    <input type="number" name="price" />
                </li>
            </ul>
            <input type="submit" value="Добавить новую услугу" />
        </form>
        </div>


         <div class="all_types">

    
        <div class="types" id="room_types">
                <p>Все типы комнат</p>
            @foreach (RoomTypeModel roomType in ViewBag.RoomType)
            {
                <p>@roomType.name</p>
            }
        </div>


        <div class="types" id="pet_types">
                    <p>Все типы животных</p>
            @foreach (AnimalTypeMode animalType in ViewBag.AnimalType)
            {
                <p>@animalType.name</p>
            }
        </div>

        </div>


        <div class="uslugi"> 
        <h2>Все услуги</h2>
            @foreach (ServiceModel service in ViewBag.Service)
            {
                <div class="types" id="usl_types" >
                <p>@ViewBag.Branch.city @ViewBag.Branch.street @ViewBag.Branch.number_house</p>
                @if (service.status)
                {
                    <p>@service.name @service.Price @service.animalType.name</p>
                    <a class="open_close" href="/Admin/CloseService/@service.id">закрыть</a>
                }
                else
                {
                    <p>@service.name @service.Price @service.animalType.name</p>
                    <a class="open_close" href="/Admin/OpenService/@service.id">открыть</a>
                }
                </div>
            }
        </div>

    </div>


</body>
</html>