@using AnimalHotel.Models;
<html>
    <head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <link href="~/css/style_navigation.css" rel="stylesheet" type="text/css">
     <link href="~/css/style_form.css" rel="stylesheet" type="text/css">
     <link href="~/css/site.css" rel="stylesheet" type="text/css">
     <link href="~/css/style_staff.css" rel="stylesheet" type="text/css">

    </head>
<body>
    <header>
        <a href="/Staff/Out">Выйти</a>
    </header>
    <div>


        <div class="all_form">
            <form action="/Staff/AddClient">
                <ul>
                    <li>
                        <label>Телефон</label>
                    </li>
                    <li>
                        <input type="tel" name="tel" />
                    </li>
                    <li>
                        <label>Имя</label>
                    </li>
                    <li>
                        <input type="text" name="first_name" />
                    </li>
                    <li>
                        <label>Фамилия</label>
                    </li>
                    <li>
                        <input type="text" name="last_name" />
                    </li>
                    <li>
                        <label>Дата рождения</label>
                    </li>
                    <li>
                        <input type="date" name="day_of_birth" />
                    </li>
                    <li>
                        <label>Город</label>
                    </li>
                    <li>
                        <input type="text" name="city" />
                    </li>
                    <li>
                        <label>Улица</label>
                    </li>
                    <li>
                        <input type="text" name="street" />
                    </li>
                    <li>
                        <label>Номер дома</label>
                    </li>
                    <li>
                        <input type="number" name="number_house" />
                    </li>
                </ul>
               <input type="submit" value ="Добавить клиента" />
            </form>
        </div>


        <div class="main_order">
            <div class="all_form">
            <form action="/Staff/CheckClient">
                <ul>
                    <li>
                        <label>Номер телефона</label>
                    </li>
                    <li>
                        <input type="tel" name="tel" />
                    </li>
                </ul>
                <input type="submit" value="Проверить" />
            </form>
            </div>

            @if (ViewBag.Client.id != 0)
            {
                <p>@ViewBag.Client.first_name @ViewBag.Client.last_name</p>
                <div class="all_form">
                    <p>Добавить животного</p>
                    <form action="/Staff/AddAnimal">
                        <ul>
                            <li>
                                <label>Тип Животного</label>
                            </li>
                            <li>
                                @for (int i = 0; i < ViewBag.AnimalType.Count; i++)
                                {
                                    <input type="radio" id="animalType_@i" name="animalType" value="@ViewBag.AnimalType[i].id" />
                                    <label for="animalType_@i">@ViewBag.AnimalType[i].name</label>
                                }
                            </li>
                            <li>
                                <label>Имя</label>
                            </li>
                            <li>
                                <input type="text" name="name"/>
                            </li>
                        </ul>
                        <input type="submit" value ="Добавить Животное" />
                    </form>
                </div>
                <div class="all_form">
                    <h2>Заказ</h2>
                    @if(ViewBag.Animal.id != 0)
                {
                    <p>@ViewBag.Animal.name</p>
                    @if(ViewBag.SelectedRoom.id != 0)
                    {
                        <p>Номер комнаты @ViewBag.SelectedRoom.number</p> <a href="/Staff/RemoveRoomAnimalOrder/@ViewBag.SelectedRoom.id">Убрать</a>
                        <p>Услуги</p>
                        @foreach(ServiceModel service in ViewBag.SelectedServices)
                        {
                            <p>@service.name</p>
                            <a href="/Staff/RemoveServiceAnimalOrder/@service.id">Убрать</a>
                        }
                        <form action="/Staff/AddAnimalToOrder">
                            <ul>
                                <li>
                                    <label>Количество дней</label>
                                </li>
                                <li>
                                    <input type="number" name="countDay"/>
                                </li>
                                <li>
                                    <label>Скидка</label>
                                </li>
                                <li>
                                    <input type="number" name="sale"/>
                                </li>
                            </ul>
                            <button type="submit">Добавить в заказ</button>
                        </form>
                    }

                    <div>
                        <p>Найти комнату по типу</p>
                        <form action="/Staff/RoomToOrderAnimal">
                            <ul>
                                <li>
                                    <label>Тип Комнаты</label>
                                </li>
                                <li>
                                    @for (int i = 0; i < ViewBag.RoomType.Count; i++)
                                    {
                                        <input type="radio" id="animalType_@i" name="type" value="@ViewBag.RoomType[i].id" />
                                        <label for="animalType_@i">@ViewBag.RoomType[i].name</label>
                                    }
                                </li>
                            </ul>
                            <button class = "staff_btn" type="submit">Найти</button>
                        </form>

                        @if (ViewBag.SelectedRoom.id == 0)
                        {
                            @foreach (RoomModel room in ViewBag.RoomAnimalOrder)
                            {
                                <div>
                                    <p>@room.number</p>
                                    <p>@room.Price</p>
                                    <a href="/Staff/fillSelectRoom/@room.id">Выбрать</a>
                                </div>
                            }
                        }
                        else
                        {
                            @foreach (ServiceModel service in ViewBag.ServiceAnimals)
                            {
                                <div>
                                    <p>@service.name</p>
                                    <p>@service.Price</p>
                                    <a href="/Staff/fillSelectedService/@service.id">Выбрать</a>
                                </div>
                            }
                        }
                    </div>
                }

                <div class="all_form">
                    <p>В заказе</p>
                    @foreach (AnimalOrderModel animalOrder in ViewBag.Orders.animalOrders)
                    {
                        <div>
                            <p>@animalOrder.animal.name в комнату номер @animalOrder.room.number</p>
                            <p>скидка @animalOrder.sale</p><p>Цена @animalOrder.price</p>
                            @foreach (ServiceOrderModel serviceOrder in animalOrder.serviceOrders)
                            {
                                <div>
                                    <p>@serviceOrder.service.name Цена @serviceOrder.price</p>
                                    <form action="/Staff/InputSaleService">
                                        <input type="number" name="animalId" value="@animalOrder.id" /><!--недолжно быть видно-->
                                        <input type="number" name="serviceId" value="@serviceOrder.id" /><!--недолжно быть видно-->
                                        <ul>
                                            <li>
                                                <label>Скидка</label>
                                            </li>
                                            <li>
                                                <input type="number" name="sale" value="@serviceOrder.sale" />
                                            </li>
                                        </ul>
                                        <button type="submit">Скидка</button>
                                    </form>
                                </div>
                            }
                            <a href="/Staff/RemoveAnimarOrder/@animalOrder.id">Удалить</a>
                        </div>
                    }
                    <!-- <p>Цена @ViewBag.Price</p>-->
                </div>
                    <a href="/Staff/InsertOrder">Создать заказ</a>
                    <a href="/Staff/CloseOrder">Очистить</a>
              


                <div>
                    @foreach(AnimalModel animal in ViewBag.Animals)
                {
                    <div>
                        <p>@animal.animalType.name @animal.name</p>
                        <a href="/Staff/AnimalToOrder/@animal.id">Добавить в заказ</a>
                    </div>
                }
                </div>
                  </div>
            }
        </div>





        <div class="return_pet">
            <p>Вернуть животных</p>
            <form action="/Staff/RealseRoom">
                <ul>
                    <li>
                        <label>Номер телефона</label>
                    </li>
                    <li>
                        <input type="tel" name="tel" />
                    </li>
                </ul>
                <button type="submit">Проверить</button>
            </form>
            @foreach(int number in ViewBag.numberRoom)
            {
                <p>комната номер @number</p>
            }
        </div>
    </div>
</body>
</html>